
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");




#directory {
  height: 11cm;
}
.search_top_header{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 5.5cm;
    margin-bottom: 0.5cm;
}
.searchlist {
  width: 89%;
  margin: 0 auto;
}

.locationGroup {
  width: 90%;
  border-bottom: 1px solid #eeeeee;
  font-family: "Lato";
  margin-top: 10px;
}
.locationGroup:hover {
  background-color: #F2F2F2;
  border-radius: 9px;
}
.locationGroup h4 {
  font-size: 16px;
  margin-top: 0.2cm;
  font-weight: 600;
}

.locationGroup ul {
  list-style-type: none;
  padding-left: 0;
}

.locationGroup li {
  font-size: 12px;
  position: relative;
  bottom: 6px;
  color: grey;
}
